@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fefefe;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --font-montserrat: var(--font-montserrat);
}

body {
  background: var(--background);
  font-family: var(--font-montserrat);
}
